In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
first = pd.read_csv('first_clean.csv')
second = pd.read_csv('second_clean.csv')
third = pd.read_csv('third_clean.csv')
sixth = pd.read_csv('sixth_clean.csv')

In [3]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   373 non-null    int64
 1   Age                      373 non-null    int64
 2   Occupation               373 non-null    object
 3   Sleep Duration           373 non-null    float64
 4   Quality of Sleep         373 non-null    int64
 5   Physical Activity Level  373 non-null    int64
 6   Stress Level             373 non-null    int64
 7   BMI Category             373 non-null    int64
 8   Blood Pressure           373 non-null    float64
 9   Heart Rate               373 non-null    int64
 10  Daily Steps              373 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 32.2+ KB

In [4]:
second.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   186 non-null    int64
 1   Age                      186 non-null    int64
 2   Occupation               186 non-null    object
 3   Sleep Duration           186 non-null    float64
 4   Quality of Sleep         186 non-null    int64
 5   Physical Activity Level  186 non-null    int64
 6   Stress Level             186 non-null    int64
 7   BMI Category             186 non-null    int64
 8   Blood Pressure           186 non-null    float64
 9   Heart Rate               186 non-null    int64
 10  Daily Steps              186 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 16.1+ KB

In [5]:
third.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   400 non-null    int64
 1   Age                      400 non-null    int64
 2   Occupation               400 non-null    object
 3   Sleep Duration           400 non-null    float64
 4   Quality of Sleep         400 non-null    float64
 5   Physical Activity Level  400 non-null    int64
 6   Stress Level             400 non-null    int64
 7   BMI Category             400 non-null    int64
 8   Blood Pressure           400 non-null    float64
 9   Heart Rate               400 non-null    int64
 10  Daily Steps              400 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 34.5+ KB

In [6]:
sixth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sleep Duration           1000 non-null   int64
 1   Quality of Sleep         1000 non-null   float64
 2   Age                      1000 non-null   int64
 3   Physical Activity Level  1000 non-null   int64
 4   Stress Level             1000 non-null   int64
 5   Heart Rate               1000 non-null   int64
 6   Daily Steps              1000 non-null   int64
 7   BMI Category             1000 non-null   int64
 8   Occupation               1000 non-null   object
 9   Gender                   1000 non-null   int64
 10  Blood Pressure           1000 non-null   float64
dtypes: float64(2), int64(8), object(1)
memory usage: 86.1+ KB

In [7]:
Sleep_quality= pd.concat([first, second, third , sixth], ignore_index=True)

In [8]:
Sleep_quality.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps
0,1,27,Software Engineer,6.1,6.0,42,6,2,1.518072,77,4200
1,1,28,Doctor,6.2,6.0,60,8,1,1.562500,75,10000
2,1,28,Doctor,6.2,6.0,60,8,1,1.562500,75,10000
3,1,28,Sales Representative,5.9,4.0,30,8,3,1.555556,85,3000
4,1,28,Sales Representative,5.9,4.0,30,8,3,1.555556,85,3000

In [9]:
Sleep_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1959 entries, 0 to 1958
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   1959 non-null   int64
 1   Age                      1959 non-null   int64
 2   Occupation               1959 non-null   object
 3   Sleep Duration           1959 non-null   float64
 4   Quality of Sleep         1959 non-null   float64
 5   Physical Activity Level  1959 non-null   int64
 6   Stress Level             1959 non-null   int64
 7   BMI Category             1959 non-null   int64
 8   Blood Pressure           1959 non-null   float64
 9   Heart Rate               1959 non-null   int64
 10  Daily Steps              1959 non-null   int64
dtypes: float64(3), int64(7), object(1)
memory usage: 168.5+ KB

In [10]:
Sleep_quality.duplicated().sum()

np.int64(450)

In [11]:
Sleep_quality.isnull().sum()

Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
dtype: int64

In [12]:
Sleep_quality.shape

(1959, 11)

In [13]:
Sleep_quality = Sleep_quality.drop_duplicates()

In [14]:
Sleep_quality.shape

(1509, 11)

In [ ]:
encoder = OneHotEncoder(sparse_output=False)
occupation_encoded = encoder.fit_transform(Sleep_quality[["Occupation"]])
occupation_df = pd.DataFrame(occupation_encoded, columns=encoder.get_feature_names_out(["Occupation"]))

Sleep_quality.drop(columns=["Occupation"], inplace=True)
Sleep_quality = pd.concat([Sleep_quality.reset_index(drop=True), occupation_df], axis=1)

In [16]:
Sleep_quality.head()

,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,...,Occupation_Manual Labor,Occupation_Nurse,Occupation_Office Worker,Occupation_Retired,Occupation_Sales Representative,Occupation_Salesperson,Occupation_Scientist,Occupation_Software Engineer,Occupation_Student,Occupation_Teacher
0,1,27,6.1,6.0,42,6,2,1.518072,77,4200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,28,6.2,6.0,60,8,1,1.562500,75,10000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,28,5.9,4.0,30,8,3,1.555556,85,3000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,28,5.9,4.0,30,8,3,1.555556,85,3000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,29,6.3,6.0,40,7,3,1.555556,82,3500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
Sleep_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1509 entries, 0 to 1508
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Gender                           1509 non-null   int64
 1   Age                              1509 non-null   int64
 2   Sleep Duration                   1509 non-null   float64
 3   Quality of Sleep                 1509 non-null   float64
 4   Physical Activity Level          1509 non-null   int64
 5   Stress Level                     1509 non-null   int64
 6   BMI Category                     1509 non-null   int64
 7   Blood Pressure                   1509 non-null   float64
 8   Heart Rate                       1509 non-null   int64
 9   Daily Steps                      1509 non-null   int64
 10  Occupation_Accountant            1509 non-null   float64
 11  Occupation_Doctor                1509 non-null   float64
 12  Occupation_Engineer              1509 non-null   float64
 13  Occupation_Lawyer                1509 non-null   float64
 14  Occupation_Manager               1509 non-null   float64
 15  Occupation_Manual Labor          1509 non-null   float64
 16  Occupation_Nurse                 1509 non-null   float64
 17  Occupation_Office Worker         1509 non-null   float64
 18  Occupation_Retired               1509 non-null   float64
 19  Occupation_Sales Representative  1509 non-null   float64
 20  Occupation_Salesperson           1509 non-null   float64
 21  Occupation_Scientist             1509 non-null   float64
 22  Occupation_Software Engineer     1509 non-null   float64
 23  Occupation_Student               1509 non-null   float64
 24  Occupation_Teacher               1509 non-null   float64
dtypes: float64(18), int64(7)
memory usage: 294.9 KB

In [18]:
Sleep_quality.to_csv('merge.csv', index=False)